html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

* {
  margin: 0; 
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background-color: #d95454
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
}


.button-container {
  display: flex;
  flex-direction: column; 
  gap: 20px; /* Space between buttons 
}

*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100%;
}


.game-container {
  display:flex;

  /* max-width: 1200px; */
  padding: 0;
  /* box-sizing: border-box; */
  height: 100vh;
    /* width: 50%; */
}




html, body {
height: 100%; 
margin: 0;
}
.App {
height: 100%; /* Ensures the app covers the full height */
display: flex;
flex-direction: column;
}
.App-header {
text-align: center;
background-color: rgba(255, 255, 255, 0.8); /* Optional: gives a slight background to the header */
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 100vh; /* <-- Full screen height */
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}

.App-header h1{
margin-bottom:15vh;
color: gold
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.game-button {
  background: linear-gradient(135deg, #5f2c82 0%, #49a09d 100%);
  color: rgb(215, 63, 169);
  font-size: 22px;
  font-weight: bold;
  padding: 16px 32px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 250px;
}

.game-button:hover {
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  transform: scale(1.05);
}

.game-button:active {
  background: linear-gradient(135deg, #2c3e50 0%, #4ca1af 100%);
  transform: scale(0.95);
}
@media (max-width: 600px) {
  .game-button {
    font-size: 18px;
    padding: 12px 24px;
  }
}